* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mypage-container {
    padding: 40px 40px 160px 40px;
}

.menu-container {
    width: 180px;
    margin: 0px 20px 0px 0px;
}

.menu-title {
    font-family: 'Pretendard';
    font-weight: 650;
    font-size: 24px;
    padding: 0px 0px 30px;
    color: rgba(34, 34, 34);
}

.menu-container nav .shop-menu {
    width: 180px;   
}

.menu-container nav .my-menu {
    margin-top: 40px;
    width: 180px;   
}

.shop-menu #title {
    font-size: 18px;
    font-family: 'Pretendard';
    font-weight: 650;
    margin: 0px 0px 12px;
    color: rgba(34, 34, 34);
}

.my-menu #title {
    font-size: 18px;
    font-family: 'Pretendard';
    font-weight: 650;
    margin: 0px 0px 12px;
    color: rgba(34, 34, 34);
}

nav .shop-menu ul li {
    margin-bottom: 12px;
}

nav .shop-menu ul li a{
    font-family: 'Pretendard';
    text-decoration: none;
    color: rgba(34, 34, 34, 0.5);
    cursor: pointer;
}

nav .my-menu ul li {
    margin-bottom: 12px;
}

nav .my-menu ul li a{
    font-family: 'Pretendard';
    text-decoration: none;
    color: rgba(34, 34, 34, 0.5);
    cursor: pointer;
}
