* {
    margin: 0;
    padding: 3px 0px;
    list-style: none;
}
li a{
    list-style: none;
    text-decoration: none;
    color: gray;
}

.service-container {
    padding: 40px 40px 160px 40px;
}

.menu-container {
    width: 200px;
    margin: 0px 20px 0px 0px;
    
}

.service-title {
    font-family: 'Pretendard';
    font-weight: 650;
    font-size: 24px;
    padding: 0px 0px 30px;
    color: rgba(34, 34, 34);
}

.notice{
    font-size: 18px;
    font-family: 'Pretendard';
    font-weight: 650;
    margin: 0px 0px 12px;
    color: rgba(34, 34, 34);
}

.faq {
    font-size: 18px;
    font-family: 'Pretendard';
    font-weight: 650;
    margin: 0px 0px 12px;
    color: rgba(34, 34, 34);
}


.qna {
    font-size: 18px;
    font-family: 'Pretendard';
    font-weight: 650;
    margin: 0px 0px 12px;
    color: rgba(34, 34, 34);
}
.first{
    display: flex;
}


