wasRepo/.metadata/
*.classpath
*.project
**/.settings/
**/bin/
setup/
*.class
lib/
*.png
wasRepo/.metadata/
wasRepo/Servers/
*.MF
wasRepo/**/.gitignore
/.metadata/
wasRepo/team4_shoekream/src/main/webapp/WEB-INF/web.xml
