.dtd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    margin: 50px auto;
}

#image-preview-container {
    width: 300px;
    height: 300px;
    border: 2px dashed #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#image-preview {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

#file-input {
    display: none;
}

#file-input-label :hover{
    background-color: #217dbb; 
}
#file-input-label {
    cursor: pointer;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
}

#product-information {
    border: 1px solid #ccc;
    width: 400px;
    padding: 20px;
}

#product-information form {
    display: flex;
    flex-direction: column;
}

#product-information input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#product-information input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

#product-information input[type="submit"]:hover {
    background-color: #217dbb;
}

#product-information button {
    background-color: #ccc;
    color: #333;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

#product-information button:hover {
    background-color: #999;
}