* {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* .filebox{

    border: 2px solid lightgray;
    background-color: rgb(228, 228, 228);
    width: 400px;
    height: 400px;
}
.filebox .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 78%;
    color: #999999;
}
.filebox label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
} */

#image-preview-container {
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#image-preview {
    max-width: 100%;
    max-height: 100%;
}

#file-input {
    display: none;
}