*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color: black;
}
.write_review{
    padding: 0px 300px;
}
.picture{
    display: flex;
    justify-content: center;
    border-bottom: solid lightgray;
}
.jordan_ko{
    font-size: small;
    color: lightgray
}
.star{
    display: flex;
    justify-content: center;
    padding: 80px 100px;
}
.ignition{
    display: flex;
    justify-content: center;
}
.ignition ul{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 20%;
    height: 60%;

    border-radius: 30px;
    border: 1px solid lightgray;
}
.ignition button{
    background-color: white;
    color: lightgray;
    border: none;
    padding: 30%;
}
.ignition button :hover{
    color: black;
}
.content{
    padding: 0px 300px;
}
#write{
    border: 1px solid lightgray;
    border-radius: 30px;
    width: 700px;
    height: 300px;
}
#write ::placeholder{
    color: lightgray;
}
.upload{
    padding: 0px 300px;
}
.upload02{
    display: flex;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 30px;
    width: 700px;
    height: 300px;
}
#reviewpng{
    width: 200px;
    height: 200px;
}