*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color: black;
}
.header_01 {
    display: flex;
    justify-content: right;
    align-items: flex-start;
    /* height: 20px; */
}
.header_02{
    height: 145px;
    text-align: left;
    padding: 10px 30px;
}
.profile_state{
    display:flex;
    justify-content: center;
}
.profile_img{
    padding: 0px 300px;
}
.prfile_nick{
    padding: 0px 500px;
}
.date01{
    color: lightgray;
    font-size: small;
}
.more_icon{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    border: 1px solid lightgray;
}
.follow_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30%;

    border-radius: 30px;
    border: 1px solid black
}
.picture{
    display: flex;
    justify-content: center;
}
.tage{
    padding: 0px 300px;
}
.tage_img{
    padding: 0px 300px;
}
.jordan_ko{
    font-size: small;
    color: lightgray
}
.test{
    display: flex;
    justify-content: center;
}
.likeimg{
    width: 30px;
    height: 30px;
}
.commentimg{
    width: 30px;
    height: 30px;
}
.starimg{
    width: 150px;
    height: 50px;
}
.like{
    padding: 0px 300px;
}
.review{
    padding: 0px 300px;
}
.hashtag{
    color: blue;
}
.ignition{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 60%;

    border-radius: 30px;
    border: 1px solid lightgray;
}
.ignition :nth-child(2) {
    color: lightgray
}
.ignition :nth-child(3) {
    color: lightgray
}
.profile_img02{
    width: 50px;
    height: 50px;
    /* padding: 0px 300px; */
    border-radius: 70%;
}
.comment{
    display: flex;
    justify-content: center;
}
