review_css

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

#wrap {
    width: 100vw;
    background-color: wheat;
}

header{
    width: 128-px;
    height: 86px;
    margin: auto;
    display: grid;
    grid-template-rows: 22px 64px;
}

header .top-list {
    display: flex;
    justify-content: end;
    padding-top: 8px;
    padding-left: 40px;
    padding-right: 40px;
}

header .top-list ul {
    display: flex;
    align-items: center;
    padding: 0;   
    text-decoration: none;
}

header .top-list ul li {
    align-items: center;
    margin-left: 20px;
    font-size: 12px;
    font-family: 'Pretendard';
}

.top-list ul li a {
    text-decoration: none;
    color: rgba(34, 34, 34, 0.8);
}

#search-btn {
    width: 24px;
    cursor: pointer;
}

header .main-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.main-list .logo-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
}

.main-list .logo-area img{
    width: 120px;
    height: 24px;
}

.main-list .head-list ul {
    display: flex;
    align-items: center;
}

header .main-list li {
    width: 90px;
}

.main-list li a {
    font-family: 'Pretendard Light';
    font-size: 18px;
    text-decoration: none;
    color: rgba(34, 34, 34);
}

.main-list img{
    height: 24px;
}

.review_wrap {
    max-width: 720px;
    display: block;
    margin: auto;
}

.profile_state{
    display:flex;
    justify-content: space-between;
    max-width: 720px;
    margin: auto;
    align-items: center;
    text-decoration: none;
    /* background-color: red; */
}

/* .profile_img{
    padding: 0px 300px;
} */
/* .proname{
    display: flex;
    justify-content: flex-start;
    padding: 10px 60px;
} */

.profile_state .profile {
    display: flex;
}

.kitty{
    /* background-color: blue; */
    height: 70px;
    display: flex;
    justify-content: center;
}

.profile_kitty{
    width: 60px;
    height: 60px;
    border-radius: 70%;
    border: 1px solid lightgray;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
}

.profile_detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    /* background-color: aliceblue; */
}

.profile_detail a {
    display: flex;
    text-decoration: none;
    color: rgba(34, 34, 34);
}
.date001{
    text-align: top;
    font-size: 13px;
}
.user_button{
    /* background-color: yellow; */
}
.more_icon{
    display: flex;
    justify-content: flex-end;
    border-radius: 30px;
    border: none;
}
.picture{
    display: flex;
    justify-content: center;
}
.main_picture{
    height: 720px;
    width: 720px;
}
.tage_img{
    /* background-color: yellow; */
}
.pink_tag{
    height: 128px;
    width: 128px;
    border-radius: 10px;
    border: none;
}
.jordan{
    /* padding: 10px 0px; */
}
.jordan_ko{
    font-size: small;
    color: lightgray
}
.test{
    display: flex;
    /* justify-content: ; */
    align-items: center;
}
.licom{
    display: inline-flex;
    justify-content: space-between;
    /* padding: 0% 32%; */
}
.likeimg{
    width: 30px;
    height: 30px;
}
.commentimg{
    width: 30px;
    height: 30px;
    /* padding: 10% 60%; */
}
.starimg{
    display: inline-flex;
    justify-content: flex-end;
    /* padding: -99% 0%; */
}
.starimg02{
    width: 150px;
    height: 50px;
    /* padding-right: 800%; */
}
.like{
    /* background-color: aqua; */
    /* padding: 0% 32%;; */
}

.content {
    /* background-color: aliceblue; */
}
.review{
    /* padding: 1% 32%; */
}
.hashtag{
    /* padding: 1% 32%; */
    /* background-color: yellow; */
}
.ht{
    color: blue;
    text-decoration: none;
    /* padding: 0% 50%; */
}
.ignition{
    display: flex;
    /* width: 30%;
    height: 50%; */
    /* justify-content: space-between; */
    /* background-color: indianred; */
}
.a{
    height: 900px;
    /* background-color: rgb(195, 173, 216); */
}
.ignition ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    border: 1px solid lightgray;
    height: 50px;
    width: 35%;
    list-style: none;
    /* margin: auto; */
}
.ignition li{
    display: flex;
    justify-content: center;
    float: left;
    margin-right: 20px;
    font-family: 'Pretendard';
}
/* .ignition ul li{
    align-items: center;
    margin-left: 40%;
    font-size: 12px;
} */
.ignition :nth-child(2) {
    color: lightgray
}
.ignition :nth-child(3) {
    color: lightgray
}
.kitty_box{
    /* background-color: orange; */
}
.comment{
    display: flex;
    /* justify-content: space-between; */
    /* background-color: bisque; */
}
.one_commnet{
    display: flex;
    justify-content: flex-start;
    /* background-color: blue; */
}
.profile_img02{
    /* width: 50px;
    height: 50px;
    border-radius: 70%; */
    width: 50px;
    height: 50px;
    border-radius: 70%;
    border: 1px solid lightgray;
    overflow: hidden;
    cursor: pointer;
}
.ejeong{
    display: flex;
    flex-direction: column;
    justify-content: top;
    margin-left: 20px;
}
.airforce{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}
.date002{
    /* justify-content: space-between; */
    color: lightgray;
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
    margin-bottom: 5px;
}
.more{
    border-bottom: 3px solid lightgray;
}
.more a{
    text-decoration: none;
}
.morecom{
    font-size: small;
    color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
    margin-bottom: 20px;
}


footer {
    /* background-color: gray; */
    width: 1280px;
    height: 200px;
    display: grid;
    margin: auto;
    padding: 50px 40px;
    grid-template-rows: 2fr 2fr 3fr 3fr;
}

/* .box1,
.box2,
.box3,
.box4 { */
/* border: 5px solid;
    color: black; */
/* } */

.box2 {
    /* border: 3px solid; */
    font-family: 'pretendard';
    display: grid;
    grid-template-columns: 8fr 2fr;
}

.box2>div {
    /* border: 1px solid;
    color: black; */
    font-size: 20px;
}

.box3 {
    /* border: 3px solid; */
    display: grid;
    grid-template-columns: 4fr 3fr 1fr 2fr;
}

.box3>:nth-child(1) {
    font-family: 'pretendard';
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 2.5fr 2.5fr;
    /* border: 1px solid;
    color: blue; */
    place-items: center center;
}

.left_bar>:nth-child(1) {
    font-size: 16px;
    font-weight: bolder;
}

.box3>div>div {
    /* border: 1px solid; */
    font-size: 14px;
    color: black;
}

.box3>:nth-child(2) {
    display: grid;
    grid-template-columns: 3.3fr 3.4fr 3.3fr;
}

.icons>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 25px;
    height: 25px;
}

button {
    background-color: black;
    font-family: 'pretendard';
    color: white;
    width: 110px;
    height: 50px
}
