*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrap{
    display: flex;
    width: 100%;
    height: 1420px;
    justify-content: center;
    /* background-color: yellow; */
}

.wrap_inner{
    display: flex;
    width: 1200px;
    height: 1220px;
    /* margin-left: auto; *
    /* margin-right:auto; */
    padding-left :40px;
    padding-top : 40px;
    padding-right: 40px;
    padding-bottom: 160px;;
    /* background-color: blue; */
    justify-content: center;
}

.board_wrap{
    display: flex;
    width: 1000px;
    height: 1220px;
    flex-direction: column;
    /* background-color:antiquewhite; */
 }
 
 .board_title{
     display: flex;
     width: 1000px;
     height: 28.980px;
     border-bottom: 3px solid black;
     padding-bottom: 16px;
     font-size:24px;
     font-weight: bolder;
     font-family: 'pretendard';
 
 }

 .dropdown_head {
    width: 1000px;
    height: 30px;
    padding-top: 17px;
    padding-bottom: 19px;
    border-bottom: 1px solid gray;
 }

 .date {

    width: 100px;
    height: 20px;
    font-size: 15px;

 }

 .notice_title{
    font-size: 20px;
 }

 .dropdown_content{
    
     width: 940px;
     height: 514px;
     padding: 30px;
     border-bottom: 1px solid gray;
     /* background-color: red; */
     
 }

 .content{
    max-width: 640px;
    height: 514px;
    background-color: lightgray;
 }

 .btn_list{
    margin-top: 30px;
    width: 1000px;
    height: 52px;
    text-align: center;
    display: flex;
    /* background-color: yellow; */
    justify-content: center;
}

.btn_box{
    display: flex;
    width: 100px;
    height: 32px;
    border-radius: 30px;
    border : 1px solid black;
    justify-content: center;
    align-items: center;
 }
 .btn_box>a{
    color: gray;
 }