* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-img {
    width: 100vw;
    height: 480px;
    display: flex;
    justify-content: center;
}

.main-img img {
    width: 1280px;
    height: 480px;
}

.home-products {
    width: 1280px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 56px;
    display: block;
    background-color: wheat;
}

.container-title {
    width: 1200px;
    height: 41px;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
}

.container-title #title {
    font-family: 'Pretendard';
    font-size: 17px;
    color: black;
    font-weight: 600;
}

.container-title #sub-title {
    font-family: 'Pretendard';
    font-size: 16px;
    color: rgba(34, 34, 34, 0.5);
    margin-top: 2px;
}

.container-title #more {
    display: flex;
    align-items: end;
}

.container-title #more a {
    font-family: 'Pretendard';
    font-size: 13px;
    color: rgba(34, 34, 34, 0.5);
    text-decoration: none; 
}

.product-list-wrap {
    width: 1200px;
    padding: 0px 40px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-evenly;
}

.product-list-wrap li{
    width: 20%;
    margin-right: 6px;
}

.product-list-wrap li #product-img {
    background-color: rgba(235, 240, 245);
    width: 186px;
    height: 186px;
    border-radius: 12px;
}

.product-list-wrap li #product-img img {
    width: 186px;
    height: 186px;
    border-radius: 12px;
}
