* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    font-family: 'Pretendard';
}

.content{
    width: 100vw;
}

.content .join_area {
    margin: auto;
    width: 400px;
    padding: 60px 0px 160px;
}

.join_title {
    padding: 0px 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pretendard';
    font-size: 32px;
    letter-spacing: -.48px;
    font-weight: 700;
}

.input_box {
    padding: 10px 0px 14px;
}

#input_title {
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 13px;
    color: rgba(34, 34, 34);
}

#input_txt {
    width: 370px;
    padding: 8px 30px 8px 0px;
    font-size: 15px;
    border-bottom: 1px solid #ebebeb;
}

#input_txt::placeholder{
    font-weight: 300;
    color: #ebebeb;
}

.join_btn_box {
    padding: 20px 0px 0px;
}

#join_btn {
    width: 400px;
    height: 52px;
    border-radius: 12px;
    background-color: #ebebeb;
    color: white;
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 16px;
}

#size {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

#size button {
    width: 52px;
    height: 36px;
    background-color: black;
    color: white;
}