.myinfo-title {
    width: 1000px;

    font-size: 24px;
    font-weight: 700;
    letter-spacing: -.27px;
    color: rgba(34, 34, 34);
}

.myinfo-title div {
    width: 1000px;
    height: 3px;
    background-color: rgba(34, 34, 34);
    margin: 14px 0px; 
}

.myinfo-head {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: rgba(34, 34, 34, 0.8);
    padding: 15px 0px;
}

