* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    font-family: 'Pretendard';
}

.content{
    width: 100vw;
}

.content .join_area {
    margin: auto;
    width: 400px;
    padding: 60px 0px 160px;
}

.join_title {
    padding: 0px 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pretendard';
    font-size: 32px;
    letter-spacing: -.48px;
    font-weight: 700;
}

.input_box {
    padding: 10px 0px 14px;
}

.input_title {
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 13px;
    color: rgba(34, 34, 34);
}

.input_txt {
    width: 370px;
    padding: 8px 30px 8px 0px;
    font-size: 15px;
    border-bottom: 1px solid #ebebeb;
}

.input_txt::placeholder{
    font-weight: 300;
    color: #ebebeb;
}

.email_area {
	display: flex;
}

.email_area input[type=button] {
	width: 90px;
	margin-left: 10px;
	height: 36px;
	background-color: #ebebeb;
	color: white;
}

.approval_area input[type=button] {
	width: 70px;
	margin-left: 10px;
	height: 36px;
	background-color: #ebebeb;
	color: white;
	border-radius: 12px;
}

.approval_area {
	visibility: hidden;
	display: flex;
	height: 36px;
	justify-content: space-evenly;
	padding-top: 10px;
}

.approval_area input[name=appr_no]{
	width: 150px;
}

.approval_area span {
	width: 60px;
	margin-left: 10px;
	font-size: 13px;
	font-family: 'Pretendard';
	line-height: 40px;
	text-decoration: underline;
}


#id_check, #pwd_check, #pwd2_check, #nick_check, #email_check {
	color: #f15746;
	font-size: 11px;
	padding-top: 3px;
}

.join_btn_box {
    padding: 20px 0px 0px;
}

#join_btn {
    width: 400px;
    height: 52px;
    border-radius: 12px;
    background-color: #ebebeb;
    color: white;
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}