* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
        /* 픽스드(탑고정) : 헤더크기 여유분 */
        padding-top: 86px;
        /* 픽스드(탑고정) : 헤더크기 여유분 */
    width: 100%;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 744px;
    background-color: rgb(246, 246, 246);
    box-sizing: border-box;
    margin: auto;
}
    .content {
        width: 780px;
        height: 100%;
        background-color: rgb(246, 246, 246);
        margin: 0 auto;
        padding: 20px 40px 160px;
        box-sizing: border-box;
    }
        .buy_immediate {
            width: 100%;
            height: 100%;
            background-color: rgb(255, 255, 255);
            box-sizing: border-box;
        }
            .product_info_area {
                padding: 32px;
                box-sizing: border-box;
            }
                .product_info {
                    display: flex;
                    align-items: center;
                    background-color: #fff;
                    width: 100%;
                    box-sizing: border-box;
                }
                    .product_thumb {
                        flex: none;
                        height: 80px;
                        width: 80px;
                        box-sizing: border-box;
                        background-color: rgb(255, 255, 255);
                    }
                        .porduct {
                            background-color: rgb(255, 255, 255);
                            border-radius: 10px;
                            height: 80px;
                            position: relative;
                            box-sizing: border-box;
                        }
                            #airforce {
                                width: 100%;
                                height: 100%;
                                border-radius: 10px;
                            }
                    .model_desc {
                        height: 17px;
                        align-items: center;
                        display: flex;
                        justify-content: space-between;
                        margin-top: 4px;
                        box-sizing: border-box;
                    }
                        .size_txt {
                            font-size: 14px;
                            font-weight: 800;
                            box-sizing: border-box;
                        }
            .product_detail {
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding-left: 16px;
                width: 556px;
            }
                .code {
                    font-size: 14px;
                    font-weight: 700;
                }
                .name {
                    font-size: 14px;
                }
                .translated_name {
                    color: rgba(34,34,34,.5);
                    font-size: 13px;
                    margin-top: 2px;
                }

            .price_descision_box {
                height: 288px;
                padding: 0 32px 32px;
                background-color: #fff;
                margin: 0;
                box-sizing: border-box;
            }
                .price_list {
                    padding-bottom: 22px;
                    padding-top: 28px;
                    display: flex;
                    align-items: center;
                    border-top: 1px solid #ebebeb;
                    box-sizing: border-box;
                }
                    .list_item {
                        /* width: 318px;
                        height: 38px; */
                        text-align: center;
                        flex: 1;
                        box-sizing: border-box;
                    }
                        .title {
                            color: rgba(34,34,34,.5);
                            font-size: 12px;
                            letter-spacing: -.06px;
                            line-height: 14px;
                            box-sizing: border-box;
                            text-align: center;
                        }
                        .price {
                            display: inline-block;
                            font-size: 16px;
                            line-height: 24px;
                            vertical-align: top;
                            text-align: center;
                            box-sizing: border-box;
                        }
                        .unit {
                            display: inline-block;
                            font-size: 16px;
                            line-height: 24px;
                            vertical-align: top;
                            text-align: center;
                            box-sizing: border-box;
                        }
                .instant_group {
                    box-sizing: border-box;
                    height: 168px;
                }       
                    .tab_area {
                        position: relative;
                        box-sizing: border-box;
                    }
                        .tab_list {
                            border: 1px solid #ebebeb;
                            border-radius: 80px;
                            margin-bottom: 27px;
                            height: 51px;
                            display: flex;
                            box-sizing: border-box;
                        }
                            .item {
                                flex: 1;
                                margin: 3px 0;
                                margin-left: 3px;
                                box-sizing: border-box;
                            }
                                .item_link {
                                    box-sizing: border-box;
                                    cursor: pointer;
                                    text-align: center;
                                    border-radius: 80px;
                                    color: rgba(34,34,34,.8);
                                    font-size: 14px;
                                    /* letter-spacing: -.21px; */
                                    letter-spacing: -.15px;
                                    padding: 14px 0;
                                }
                            .item_on {
                                flex: 1;
                                box-sizing: border-box;
                                margin: 3px 0;
                                margin-right: 3px;
                            }


            .buy_total_confirm {
                /* height: 100%; */
                padding: 0 32px 32px;
                background-color: #fff;
                margin: 0;
                box-sizing: border-box;
            }