* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
        /* 픽스드(탑고정) : 헤더크기 여유분 */
        padding-top: 86px;
        /* 픽스드(탑고정) : 헤더크기 여유분 */
    width: 100%;
    box-sizing: border-box;
}


.container { /* 컨테이너, 컨텐트 */
    width: 100%;
    height: 2000px;
    background-color: rgb(246, 246, 246);
    box-sizing: border-box;
    margin: auto;
}
    .content {
        width: 780px;
        height: 100%;
        background-color: rgb(246, 246, 246);
        margin: 0 auto;
        padding: 20px 40px 160px;
        box-sizing: border-box;
    } /* 컨테이너, 컨텐트 */

        .buy_immediate {
            width: 100%;
            height: 100%;
            background-color: rgb(255, 255, 255);
            box-sizing: border-box;
        }
        
            /* 상품 정보 */
            .product_info_area {
                padding: 32px;
                box-sizing: border-box;
            }
                .product_info {
                    display: flex;
                    align-items: center;
                    background-color: #fff;
                    width: 100%;
                    box-sizing: border-box;
                }
                    .product_thumb {
                        flex: none;
                        height: 80px;
                        width: 80px;
                        box-sizing: border-box;
                        background-color: rgb(255, 255, 255);
                    }
                        .porduct {
                            background-color: rgb(255, 255, 255);
                            border-radius: 10px;
                            height: 80px;
                            position: relative;
                            box-sizing: border-box;
                        }
                            #airforce {
                                width: 100%;
                                height: 100%;
                                border-radius: 10px;
                            }
                    .model_desc {
                        height: 17px;
                        align-items: center;
                        display: flex;
                        justify-content: space-between;
                        margin-top: 4px;
                        box-sizing: border-box;
                    }
                        .size_txt {
                            font-size: 14px;
                            font-weight: 800;
                            box-sizing: border-box;
                        }
            .product_detail {
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding-left: 16px;
                width: 556px;
            }
                .code {
                    font-size: 14px;
                    font-weight: 700;
                }
                .name {
                    font-size: 14px;
                }
                .translated_name {
                    color: rgba(34,34,34,.5);
                    font-size: 13px;
                    margin-top: 2px;
                }
            /* 상품 정보 */
            
            .display_separator { /* 빈공간1 */
                height: 8px;
                box-sizing: border-box;
                background-color: rgb(244, 244, 244);
            }

            section {
                height: 433px;
                background-color: #fff;
                padding: 32px;
                box-sizing: border-box;

            }
                .section_unit {
                    box-sizing: border-box;
                    height: 157px;
                }
                    .section_title{
                        height: 34px;
                        align-items: center;
                        display: flex;
                        padding-bottom: 12px;
                        box-sizing: border-box;
                    }
                    .section_content{

                    }

            


            /* 즉시 구매 계속 */
            .buy_total_confirm {
                height: 132px;
                border-top: 1px solid #ebebeb;
                padding: 0 32px 32px;
                background-color: #fff;
                margin: 0;
                box-sizing: border-box;
            }
                .price_total {
                    height: 47px;
                    padding-bottom: 12px;
                    padding-top: 16px;
                    box-sizing: border-box;
                }
                    .price_box {
                        height: 19px;
                        align-items: center;
                        display: flex;
                        justify-content: space-between;
                        box-sizing: border-box;
                    }
                        .price_title {                            
                            font-size: 13px;
                            letter-spacing: -.07px;
                            font-weight: 700;
                            box-sizing: border-box;
                        }
                        .price_empty_desc {
                            color: rgba(34,34,34,.5);
                            box-sizing: border-box;
                        }
                .btn_confirm {
                    box-sizing: border-box;
                }
                    /* 즉시 구매 버튼 뒤에  */
                    .blind_full_solid_false[blind] {
                        clip: rect(0,0,0,0)!important;
                        height: 1px!important;
                        margin: -1px!important;
                        overflow: hidden!important;
                        position: absolute!important;
                        width: 1px!important;
                    } 
                    .blind_full_solid_false {
                        font-weight: 600;
                        background-color: #222;
                        color: #fff;
                        border-radius: 12px;
                        font-size: 16px;
                        height: 52px;
                        letter-spacing: -.16px;
                        width: 100%;
                        cursor: pointer;

                        align-items: center;
                        display: inline-flex;
                        justify-content: center;
                        text-align: center;
                        vertical-align: middle;
                    }
