* {
    margin: 0;
    padding: 0;
    list-style: none;
}

#wrap {
    width: 100vw;
    background-color: wheat;
}

header{
    width: 128-px;
    height: 86px;
    margin: auto;
    display: grid;
    grid-template-rows: 22px 64px;
}

header .top-list {
    display: flex;
    justify-content: end;
    padding-top: 8px;
    padding-left: 40px;
    padding-right: 40px;
}

header .top-list ul {
    display: flex;
    align-items: center;
    padding: 0;   
    text-decoration: none;
}

header .top-list ul li {
    align-items: center;
    margin-left: 20px;
    font-size: 12px;
    font-family: 'Pretendard';
}

.top-list ul li a {
    text-decoration: none;
    color: rgba(34, 34, 34, 0.8);
}

#search-btn {
    width: 24px;
    cursor: pointer;
}

header .main-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.main-list .logo-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
}

.main-list .logo-area img{
    width: 120px;
    height: 24px;
}

.main-list .head-list ul {
    display: flex;
    align-items: center;
}

header .main-list li {
    width: 90px;
}

.main-list li a {
    font-family: 'Pretendard Light';
    font-size: 18px;
    text-decoration: none;
    color: rgba(34, 34, 34);
}

.main-list img{
    height: 24px;
}


.review_wrap {
    max-width: 720px;
    display: block;
    margin: auto;
}

.profile_state{
    display:flex;
    justify-content: space-between;
    max-width: 720px;
    margin: auto;
    align-items: center;
    text-decoration: none;
}
.profile_state .profile {
    display: flex;
}
.user_button{
    display: flex;
    justify-content: space-around;
    width: 80px;
    margin-top: 50px;
    /* background-color: aqua; */
}
#click{
    font-size: small;
    color: lightgray;
}
.user_button a{
    text-decoration: none;
}
.kitty{
    height: 70px;
    display: flex;
    justify-content: center;
}

.profile_kitty{
    width: 60px;
    height: 60px;
    border-radius: 70%;
    border: 1px solid lightgray;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
}

.profile_detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.profile_detail a {
    display: flex;
    text-decoration: none;
    color: rgba(34, 34, 34);
}
.date001{
    text-align: top;
    font-size: 13px;
}
.picture{
    display: flex;
    justify-content: center;
}
.main_picture{
    height: 720px;
    width: 720px;
    border: 1px solid lightgray;
}
.pink_tag{
    height: 128px;
    width: 128px;
    border-radius: 10px;
    border: 1px solid lightgray;
}
.jordan_ko{
    font-size: small;
    color: lightgray
}
.test{
    display: flex;
    align-items: center;
}
.licom{
    display:flex;
    justify-content: space-between;
    height: 60px;
    width: 80px;
}
.likeimg{
    width: 30px;
    height: 30px;
}
.commentimg{
    width: 30px;
    height: 30px;
}
.starimg{
    display: inline-flex;
    justify-content: flex-end;
}
.starimg02{
    width: 150px;
    height: 50px;
}
.abcd{
    display: flex;
    height: 20px;
}
.ht{
    color: blue;
    text-decoration: none;
}
.ignition{
    display: flex;
}
.a{
    display: flex;
    justify-content: space-around;
    height: 900px;
}
.ignition ul{
    align-items: center;
    border-radius: 20px;
    border: 1px solid lightgray;
    height: 50px;
    width: 35%;
    list-style: none;
}
.ignition li{
    display: flex;
    justify-content: center;
    float: left;
    font-size: small;
    font-family: 'Pretendard';
}
.ignition :nth-child(2) {
    color: lightgray
}
.ignition :nth-child(3) {
    color: lightgray
}
.comment{
    display: flex;
}
.one_commnet{
    display: flex;
    justify-content: flex-start;
}
.profile_img02{
    width: 50px;
    height: 50px;
    border-radius: 70%;
    border: 1px solid lightgray;
    overflow: hidden;
    cursor: pointer;
}
.ejeong{
    display: flex;
    flex-direction: column;
    justify-content: top;
    margin-left: 20px;
}
.airforce{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}
.date002{
    color: lightgray;
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
    margin-bottom: 5px;
}
.more{
    border-bottom: 3px solid lightgray;
}
.more a{
    text-decoration: none;
}
.morecom{
    font-size: small;
    color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
    margin-bottom: 20px;
}


