*{
	font-family: 'Pretendard';
}

.myinfo-title {
    width: 1000px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -.27px;
    color: rgba(34, 34, 34);
}

.myinfo-title div {
    width: 1000px;
    height: 3px;
    background-color: rgba(34, 34, 34);
    margin: 14px 0px; 
}

.myinfo-head {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: rgba(34, 34, 34, 0.8);
    padding: 15px 0px;
}

.form {
	padding: 38px 0px 0px;
	width: 480px;
}

.myinfo-input {
	padding: 25px 0px 12px;
}

.myinfo-input div {
	color: #22222280;
	font-size: 14px;
	
}

.myinfo-input .input-box {
	width: 400px;
	padding: 8px 0px;
	border-bottom: 1px solid #ebebeb;
	border-top: none;
	border-left: none;
	border-right: none;
}

#submit {
	margin-top: 40px;
	margin-bottom: 40px;
	width: 120px;
	height: 36px;
	border: 1px solid #222222;
	border-radius: 12px;
	background-color: black;
	color: white;
	cursor: pointer;
}

#quit {
	font-size: 13px;
	color: #222222;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

.approval_area {
	visibility: hidden;
	display: flex;
	width: 100%;
	height: 36px;
	justify-content: flex-start;
	padding-top: 10px;
}

.approval_area input[type=button] {
	width: 70px;
	margin-left: 10px;
	height: 36px;
	background-color: #ebebeb;
	color: white;
	border-radius: 12px;
}

.approval_area input[name=appr_no]{
	width: 150px;
}

#auth_check {
	color: #f15746;
	font-size: 11px;
	padding-top: 3px;
}